body {
    font-family: 'Muli', Arial, sans-serif;
}

.app-wrapper {
    height: 100vh;
    min-height: 100vh;
    position: relative;
}

div.logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    min-height: 75px;
    margin: 0 25px;
    
    text-align: center;
}

// div.logo div.gopher {
//     width: 50px;
//     height: 50px;
//     overflow: hidden;
//     position: relative;
// }

div.logo img {
    height: 50px;
    position: relative;;
   
}

div.logo>a {
    display: block;
    color: #fafafa;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

div.navbar {
    min-height: 75px;
    border-bottom: 1px solid #CCCCCC;
}

.sidebar {
    position: absolute;
    background-color: #383c3c;
    width: 260px;
    float: left;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

div.sidebar-wrapper {
    // background: url(../assets/img/texture.png) repeat;
    height: 100%;
}

div.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    overflow: auto; //border: 1px solid rgba(0,0,0,.0975);
}

//div.sidebar-wrapper ul li{
//border-bottom: 1px solid rgba(0,0,0,.0975);
//}
div.sidebar-wrapper ul li>a {
    display: block;
    color: #fafafa;
    padding: 25px;
    text-decoration: none;
}

div.sidebar-wrapper ul li>a.active {
    background-color: #4caf50;
    color: white;
}

div.sidebar-wrapper ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.main-container {
    // background-color: #f4f3ef;
    background-color: rgb(243, 240, 232);
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);
    min-height: 100%;
}

.app-main {
    min-height: 100%;
    margin: 30px 15px;
    border: 1px solid #555;
}

.rightarea {
    // float: left;
    // width: 20%;
}
