@import "layouts/default";
@import "components/entry";


body {
    font-family: 'Muli','Noto Sans TC', Arial, sans-serif;
     font-size: 18px;
}

div.card{
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

div.card div.content{
    padding: 30px;
}
