div.navbar {
	min-height: 80px;
	
	border-bottom: 1px solid #cccccc;
}

// div.navbar div.navbar-right {
//     // float: left;
//     // width: 20%;
// }

div.navbar .navbar-left {
	float: left;
	padding: 25px 0px 0px 25px;
    min-width: 75%;
}

div.navbar .navbar-right {
	float: left !important;
	padding: 25px;
}
div.navbar a {
	font-weight: 600;
	font-size: 24px;
	color: #777;
	cursor: default;
}

div.navbar a:hover {
	text-decoration: none;
}