div.sidebar {
    position: absolute;
    background-color: #383c3c;
    width: 260px;
    float: left;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

div.sidebar div.logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 80px;
    //min-height: 100px;
    margin: 0 50px;
    text-align: center;
    
}

div.sidebar div.logo img {
    height: 52.5px;
    /* position: absolute; */
    /* transform: translate(-50%, 20%); */
    margin: 15px 0;
   
}

div.sidebar div.logo > a {
    display: block;
    color: #fafafa;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

div.sidebar-wrapper {
    // background: url(../assets/img/texture.png) repeat;
    height: 100%;
   
}

div.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto; //border: 1px solid rgba(0,0,0,.0975);
    
}

//div.sidebar-wrapper ul li{
//border-bottom: 1px solid rgba(0,0,0,.0975);
//}
div.sidebar-wrapper ul li>a {
    display: block;
    color: #fafafa;
    padding: 20px 60px;
    text-decoration: none;
    opacity: .7;
    font-weight: 600;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    transition: all 150ms ease-in;
    line-height: 30px;
   
}

div.sidebar-wrapper ul li.router-link-active >a {
    color: #00ff85;
}

div.sidebar-wrapper ul li:not(.router-link-active) a:hover {
    color: #fff;
    opacity: 1;
}

div.sidebar-wrapper ul li>a p {
    // display: inline-block;
    margin: 0;
    line-height: 30px;
   
}


div.sidebar-wrapper ul li>a i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
   
}